@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: OpenSans;
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: digital;
  src: url('../fonts/digital-7.ttf') format('truetype');
  font-style: normal;
}

body {
	font-family: OpenSans; 
}

.navbar-nav li a {
	font-size:18px;
	font-weight:600;
}

.navbar {
	margin-bottom:0px;
}
	.selectStation {
		float:right;
		min-width:215px;
		width:290px;
		height:69px;
		background-color:#d8d8d8;
		margin-top:30px;
		border:1px transparent solid;
		border-radius: 25px 0px 25px 25px;
		padding:3px;
	}
	.selectStation .selectIconWrapper {
		background-color:#ffffff;
		float:left;
		width:88px;
		height:61px;
		border:1px transparent solid;
		border-radius: 22px 0px 22px 22px;
		text-align:center;
		padding-top:3px;
	}
	.selectStation .selectStationBox {
		float:left;
		padding:7px 10px 0px 10px;
	}
	.selectStation .selectStationBox h5{
		font-size:18px;
		font-weight:600;
		color:#002870;
		margin:0px;
	}
	.selectStation .selectStationBox p{
		margin-top:8px;
		font-size:14px;
		font-weight:600;
		color:#529f11;
		margin:0px;
	}
	
.mainContent {
	clear:both;
	/* min-height:875px; */
	background:url(../i/main-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
	padding:30px 50px;
}	

	.priceWrapper {
		background-color:#ffffff;
		padding-bottom:20px;
	}
	.priceWrapper .row {
		margin: 0px;
	}
		.priceMainTitle {
			font-size: 18px;
			font-weight: 600;
		}
		.priceMain {
			background-color:#012971;
		}
		.priceMain .label {
			display: inline-block;
			color:#ffffff;
			font-size:24px;
			font-weight:bold;
		}
		.priceMain .labelBox {
			height:53px;
			margin:10px 0px;
			line-height:53px;
		}
		.priceBox {
			height:53px;
			margin:10px 0px;
			background-color:#000000;
			text-align:right;
			padding:0px 10px;
		}
		.priceBox .price {
			font-family: digital;
			color:#d60c1c;
			font-size:36px;
			font-weight:bold;
		}
		.priceBox .sup {
			font-family: digital;
			color:#d60c1c;
			font-size:18px;
			font-weight:bold;
			vertical-align: baseline;
			position: relative;
			top: -0.7em;
		}
		
	.priceWrapper .stationWrapper {
		margin-top:20px;
	}	
	
		.stationWrapper .stationPicture  img{
			border:1px transparent solid;
			border-radius: 12px 0px 12px 12px;
		}
		
		.stationWrapper .stationTitle {
			padding:0px;
			margin:0px;
			font-weight:600;
		}
		
		.stationWrapper .stationDesc {
			padding:0px;
			margin:5px 0px;
			font-weight:normal;
			color:#012971;
		}
	
	.priceWrapper .iconWrapper {
		margin-top:10px;
	}
	.iconBox {
		float:left;
		width:40px; height: 40px; line-height:40px;
		text-align:center;
		color:#ffffff;
		font-weight:600;
		margin-right:10px;
	}
	
	.green { background-color:#4aa20d; }
	.red  { background-color:#ca0705; }
	.blue  { background-color:#0a9dd3; }
	
	.bannerWrapper {
		text-align:center;
	}
	.bannerWrapper img {
		display:inline-block;
	}
	.bannerWrapper a {
		display:block;
		color:#588a29;
		height:55px;
		width:350px;
		margin:0px auto;
		line-height:55px;
		background-color:#ffffff;
		text-transform:uppercase;
		font-size:32px;
		font-weight:bold;
	}
	.bannerWrapper a:hover {
		text-decoration: none;
	}
	
.bannerMobile {
	min-height:200px;
	background:url(../i/main-bg.jpg) no-repeat center center fixed; 
	padding:20px;
}	
	.bannerMobile .row {
		margin:0px;
	}
	.mobileBannerWrapper {
		padding:10px;
		text-align:center;
	}
	.mobileBannerWrapper img{
		display:inline-block;
	}
	.bannerMobile a {
		display:block;
		color:#588a29;
		height:55px;
		width:250px;
		margin:0px auto;
		margin-top:40px;
		line-height:55px;
		background-color:#ffffff;
		text-transform:uppercase;
		font-size:24px;
		font-weight:bold;
		text-align:center;
	}
	.bannerMobile a:hover {
		text-decoration: none;
	}
	.descBox {
		padding-top:30px;
	}
	.descBox p {
		font-size:24px;
		font-weight:bold;
		text-align:center;
		color:#ffffff;
		margin-bottom:0px;
	}

#selectStationMobile {
	float:none;
	width:auto;
	margin-left:30px;
	margin-right:30px;
	margin-top:-60px;
}	