@media (max-width: 992px) {
	.mainContent {
		background:none;
		background-color:#eaeaea;
		margin-top:50px;
	}	
	.mainContent .priceWrapper {
		background-color:#eaeaea;
	}
}

@media (max-width: 768px) {

}

@media (min-width: @screen-lg-min) {

}